.has-fade {
     visibility: hidden;
}

@keyframes fade-in {
     from {
          visibility: hidden;
          // display: none;
          opacity: 0;
     }

     1% {
          visibility: visible;
          opacity: 0;
     }

     to {
          visibility: visible;
          // display: block;
          opacity: 1;
     }
}

.fade-in {
     animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
     from {
          visibility: visible;
          // display: none;
          opacity: 1;
     }

     99% {
          visibility: visible;
          opacity: 0;
     }

     to {
          // display: block;
          visibility: hidden;
          opacity: 0;
     }
}

.fade-out {
     animation: fade-out 200ms ease-in-out forwards;
}

// Went down to JavaScript to add the fade-in and fade-out class